{% set config = app.extensions.enabled.shorturl.config %}

<fieldset data-animal-field="shorturl">
	<label class="col-sm-3 control-label">{{field.label|default(key)}}:</label>
	<div class="col-sm-9">

		<div class="input-group input-group-sm">
			<span class="input-group-addon">/{{ config.prefix is not empty ? config.prefix ~ '/' : '' }}</span>
			<div class="right-inner-addon">
				<i class="fa fa-check-circle shorturl-ok"></i>
                <i class="fa fa-times-circle shorturl-error active"></i>
                <i class="fa fa-cog fa-spin shorturl-loading"></i>
				<input{{ config.checkunique == true ? ' data-checkunique="true"': '' }} data-base-url="{{ paths.hosturl }}{{ app.request.baseUrl }}/{{ config.prefix is not empty ? config.prefix ~ '/' : '' }}" data-minlenght="2" data-async-url="{{ paths.bolt }}shorturl/check" maxlength="{{ config.maxlength }}" class="form-control shorturl" id="{{ key }}" name="{{ name }}" type="text" value="{{ context.content.get(key) }}">
			</div>
		</div>
        <small class="shorturl-message-error"></small>
        <small class="shorturl-message-ok"></small>
	</div>
</fieldset>
<div class="col-xs-6"></div>
